.nav
{
    .nav-link
    {
        color: rgba(255, 255, 255, .5);
        border-bottom: .25rem solid transparent;
    }

    .nav-link:hover,
    .nav-link:focus
    {
        color: rgba(255, 255, 255, .8);
        border-bottom-color: rgba(255, 255, 255, .25);
    }
}

.btn
{
    &.btn-black
    {
        color: #fff;
        background: #000;
        border: #fff solid 1px;
    }

    &.btn-black:hover
    {
        background: #000;
        border: #fff solid 1px;
    }
}

.cons-grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.cons-star
{
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;

    /* make the same text v-spacing */
    border: #fff solid 2px;

    &.cons-star--white
    {
        color: #000;
        background: #fff;
    }

    &.cons-star--black
    {
        color: #fff;
        background: #000;
    }
}

#response
{
    font-size: 18px;
    font-weight: bold;
}